.cardListContainer{
    border-right: 1px black solid;
    height : 100%;
    width : 10em;
    max-width: 10em;
    overflow-y: scroll;
}

.cardListItem{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1em;
}


.cardListItem:hover{
    background-color: lightgray;
}